# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./researcher.db"

BAIDU_TRANSLATION_APPID=
BAIDU_TRANSLATION_SECRET_KEY=

OPENAI_API_KEY=
PROXY_URL=


GOOGLE_API_KEY=
ALIBABA_API_KEY=

BAIDU_API_KEY=
BAIDU_SECRET_KEY=


# curl 'https://aip.baidubce.com/oauth/2.0/token?grant_type=client_credentials&client_id=MDrsEnZIHm1kNFA2N14PXLh0&client_secret=fKziGNKeGbz7QESABHwepxzxCqVytEIC'

BAIDU_ACCESS_TOKEN=

